<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2020_data_ua/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Урбаністичний форум 2020<br></div>
                <div class="intro-lead-in">19-21 листопада 2020 року</div>
                <div class="intro-lead-in">Київський національний університет будівництва і архітектури, Київ, Україна</div>
                <a href="#intro" class="page-scroll btn btn-xl">Більше</a>
            </div>
        </div>
    </header>

     
    {% comment %}
    {% include 2020_data_ua/speakers.html %}
    {% endcomment %}
    {% include 2020_data_ua/about.html %}
    {% include 2020_data_ua/sponsors.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2020_data_ua/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>