<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Urban Forum 2020<br></div>
                <div class="intro-lead-in">November 19-21, 2020</div>
                <div class="intro-lead-in">Kyiv National University of Construction and Architecture, Kyiv, Ukraine</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include 2020_data/intro.html %}
    {% include 2020_data/speakers.html %}
    {% include 2020_data/about.html %}
    {% include 2020_data/sponsors.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2020_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>